* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
body {
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box svg {
    fill: none;
    stroke: #222;
    stroke-width: 10;
    transform: scale(2);
    stroke: url(#col);
    stroke-dasharray: 60 172;
    stroke-linecap: round;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 232;
    }
}
svg:nth-child(1) {
    animation: none;
    stroke: #222;
    stroke-dasharray: none;
    top: 0;
    left: 0;
    position: absolute;
}
svg:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
}
svg:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(10px);
}