<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HAPPY BIRTHDAY!</title>
</head>
<body>
    <div class="main_div">
        <div class="loader">
            <span style="--i: 1;">H</span>
            <span style="--i: 2;">a</span>
            <span style="--i: 3;">p</span>
            <span style="--i: 4;">p</span>
            <span style="--i: 5;">y</span>
            <span style="--i: 6;"> </span>
            <span style="--i: 7;">B</span>
            <span style="--i: 8;">i</span>
            <span style="--i: 9;">r</span>
            <span style="--i: 10;">t</span>
            <span style="--i: 11;">h</span>
            <span style="--i: 12;">d</span>
            <span style="--i: 13;">a</span>
            <span style="--i: 14;">y</span>
            <span style="--i: 15;">!</span>
            <br>
            <header>
                <h1>Name Here</h1>
            </header>
        </div>
        
        <img src="https://assets.winni.in/product/primary/2014/6/33726.jpeg?dpr=1&w=500">

        <div class="wish">
            <p>Wishing you a very happy birthday! May your days filled with joy and excitement! May your dreams come true!</p>
        </div>
    </div>
    
</body>
</html>