body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
}
.container{
    background-color: #0f110f;
    margin: auto;
    padding: 20px;
}
.container div{
    width: 100%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div h1{
    color: #e4c046;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}
form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 15px;
    background-color: #ff5361;
    color: 18px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}